* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: grey;
}
.pageWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

input,
.equalsContainer button {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 10%;
}

.operatorContainer input,
.equalsContainer button,
#operator {
  box-sizing: border-box;
  font-size: 30px;
}
.header {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;
}
.inputContainerDiv {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  gap: 10px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.matrixSizeContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.buttonDiv button {
  font-size: 15px;
}

.mainContent {
  margin: 10px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.matrix1Container,
.matrix2Container,
.resultMatrix {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.matrixRowDiv,
.resultMatrixRowDiv {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  background-color: #e0f4ff;
  color: #055160;
  border: 1px solid #b6e0fe;
  padding: 8px 15px 15px 15px;
  border-radius: 8px;
  font-family: sans-serif;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.alertMessage {
  margin: 8px 0px 12px 0px;
}
.icon img {
  width: 25px;
  height: 25px;
}
.headerMessage {
  font-size: 14px;
  font-weight: bold;
}
.closeButton {
  font-size: 15px;
  cursor: pointer;
  color: #055160;
}

footer {
  display: flex;
  background-color: lightblue;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  gap: 8px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
}

.profileContainer img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

input:invalid {
  color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
